html, *{
  --navigationWidth: 200px;
  --informationWidth: 200px;
  --mainWidth: calc(100% - var(--navigationWidth) - var(--informationWidth));
  --minCanvasWidth: 720px;
  --canvasRatio: 0.5625;
}

[level="1"] { --font-size: 24pt; }
[level="2"] { --font-size: 20pt; }
[level="3"] { --font-size: 16pt; }
[level="4"] { --font-size: 12pt; }
[level="5"] { --font-size: 12pt; }
[level="6"] { --font-size: 12pt; }

@media (max-width: 1120px) {
  #backgroundCanvas {
    width: 100% !important;
  }

  #canvas {
    width: calc(100vw * 0.8) !important;
    height: calc(100vw * 0.8 * var(--canvasRatio)) !important;
  }
}

#backgroundCanvas {
  /* position: absolute; */
  left: var(--navigationWidth);
  width: var(--mainWidth);
  min-width: var(--minMainWidth);
  height: 100%;
  background-color: grey;
  display: flex;
}

#canvas {
  /* position: absolute; */
  width: calc(70vw * 0.8);
  height: calc(70vw * 0.8 * var(--canvasRatio));
  min-width: var(--minCanvasWidth);
  min-height: calc(var(--minCanvasWidth) * var(--canvasRatio));
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: auto;
  background: white;
}

#canvas [id^="content"] {
  font-size: var(--font-size);
}