html,
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* font-size: 12pt; */
  font-family: '나눔스퀘어';
}

.background-canvas {
  position: absolute;
  left: 10%;
  width: 70%;
  height: 100%;
  background-color: grey;
}

.canvas {
  /* width: 80%; */
  /* min-width: 40%; */
  /* height: 45%; */
  position: absolute;
  width: 80%;
  padding-bottom: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;

}

.dtitle_0 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 20%;
  text-align: center;
}

.dsubtitle_0 {
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 60%;
  height: 10%;
  text-align: center;
}

.dbody_0 {
  position: absolute;
  top: 70%;
  right: 10%;
  width: 40%;
  height: 20%;
  text-align: right;
}

[class^="dtitle_"] {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 20%;
  text-align: center;
}

[class^="dsubtitle_"] {
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 60%;
  height: 10%;
  text-align: center;
}

[class^="dbody_"] {
  position: absolute;
  top: 70%;
  right: 10%;
  width: 40%;
  height: 20%;
  text-align: right;
}