html, *{
  --navigationWidth: 200px;
  --informationWidth: 200px;
  --mainWidth: calc(100% - var(--navigationWidth) - var(--informationWidth));
  --minCanvasWidth: 720px;
  --canvasRatio: 0.5625;
}

[class="contentbox"][level="1"] { --font-size: 60pt; }
[class="contentbox"][level="2"] { --font-size: 48pt; }
[class="contentbox"][level="3"] { --font-size: 36pt; }
[class="contentbox"][level="4"] { --font-size: 24pt; }
[class="contentbox"][level="5"] { --font-size: 24pt; }
[class="contentbox"][level="6"] { --font-size: 24pt; }

@media (max-width: 1120px) {
  #backgroundCanvas {
    width: 100% !important;
  }
}

#backgroundCanvas {
  /* position: absolute; */
  /* left: var(--navigationWidth); */
  width: 50%;
  /* min-width: var(--minMainWidth); */
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  /* position: absolute; */
  /* width: calc(70vw * 0.9);
  height: calc(70vw * 0.9 * var(--canvasRatio)); */
  /* min-width: var(--minCanvasWidth);
  min-height: calc(var(--minCanvasWidth) * var(--canvasRatio)); */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 50%;
  height: 100%;
  display: flex;
}

.contentbox {
  /* position: absolute; */
  font-size: var(--font-size);
}