.registration_select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.login_select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.card_select {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 18px;
  height: 18px;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.list_select {
  position: absolute;

  width: 18px;
  height: 18px;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.card_important {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.list_important {
  position: absolute;
  left: 80px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}
