html,
* {
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; */

  /* font-size: 12pt; */
  /* font-family: '나눔스퀘어'; */
}

#clipboard_editor {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 18%;
  height: 30%;
  padding: 1%;
  background-color: white;
  overflow: hidden;
}
