html,
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* font-size: 12pt; */
  resize: none;
  font-family: '나눔스퀘어';
}

div[class^="contents"] {
  position: relative;
  /* width: 90%; */
  /* top: 5%; */
  /* margin: 2%; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  
}

[id^='title'] {
  width: 100%;
  height: 10%;
  outline: none;
  border: none;
  font-size: 14pt;
}

[id^='subtitle'] {
  width: 100%;
  height: 10%;
  outline: none;
  border: none;
  font-size: 14pt;
}

[id^='body'] {
  width: 100%;
  height: 10%;
  outline: none;
  border: none;
  line-height: 1.5em;
  font-size: var(--font-size);
}

[type="h1"] { --font-size: 24pt; }
[type="h2"] { --font-size: 18pt; }
[type="p"]  { --font-size: 12pt; }

[contentEditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color: gray;
}


