html {
  --dragBtnWidth: 30px;
}

#draft [level="1"] { --indent: 0; --font-size: 24pt; }
#draft [level="2"] { --indent: 1; --font-size: 20pt; }
#draft [level="3"] { --indent: 2; --font-size: 16pt; }
#draft [level="4"]  { --indent: 3; --font-size: 12pt; }
#draft [level="5"]  { --indent: 4; --font-size: 12pt; }
#draft [level="6"]  { --indent: 5; --font-size: 12pt; }

#draft [indent="1"] { --listindent: 1; --ultype: disc; --oltype: decimal;}
#draft [indent="2"] { --listindent: 2; --ultype: circle; --oltype: lower-alpha;}
#draft [indent="3"] { --listindent: 3; --ultype: square; --oltype: lower-roman;}
#draft [indent="4"] { --listindent: 4; --ultype: disc; --oltype: decimal;}
#draft [indent="5"] { --listindent: 5; --ultype: circle; --oltype: lower-alpha;}
#draft [indent="6"] { --listindent: 6; --ultype: square; --oltype: lower-roman;}

#draft .content {
  width: calc(100% - var(--dragBtnWidth));
  /* height: 10%; */
  /* flex-grow: 1; */
  outline: none;
  border: none;
  line-height: 1.5em;
  /* margin-left: 30px; */
  padding-left: calc(30px * var(--indent));
  font-size: var(--font-size);
  cursor: text;
  user-select: true;
  display: inline-block;
}

#draft [contentEditable=true]:empty:not(:focus):before{
  content: attr(placeholder);
  color: grey;
}

#draft [data-rbd-drag-handle-draggable-id^='content'] {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  outline: none;
  border: none;
}

#draft .dragBtn {
  width: var(--dragBtnWidth);
  color: lightgrey;
}

#draft #dragBtn {
  width:  9px;
  height: 13px;
}

#draft ul {
  width: calc(100% - var(--dragBtnWidth));
  margin: 0;
  padding: 0;
  list-style-type: var(--ultype);
  list-style-position: outside;
  padding-left: calc(30px * (var(--indent) + var(--listindent)));
  font-size: calc(var(--font-size) - 4pt);
}

#draft ol {
  width: calc(100% - var(--dragBtnWidth));
  margin: 0;
  padding: 0;
  list-style-type: var(--oltype);
  list-style-position: outside;
  padding-left: calc(30px * (var(--indent) + var(--listindent)));
  font-size: calc(var(--font-size) - 4pt);
}

#draft li div[id^="content"] {
  padding-left: 0;
  vertical-align:middle;
}

#draft .imgholder {
  width: fit-content;
  height: fit-content;
  /* max-width: 640px;
  max-height: 480px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 3px;
  /* display: block; */
  cursor: default;
}

#draft img {
  width: auto;
  height: auto;
  max-width: 320px;
  max-height: 240px;
  margin: auto;
  display: block;
  cursor: default;
}