html {
  --dragBtnWidth: 30px;
}

[level="1"] { --indent: 0; --font-size: 24pt; }
[level="2"] { --indent: 1; --font-size: 20pt; }
[level="3"] { --indent: 2; --font-size: 16pt; }
[level="4"]  { --indent: 3; --font-size: 12pt; }
[level="5"]  { --indent: 4; --font-size: 12pt; }
[level="6"]  { --indent: 5; --font-size: 12pt; }

[indent="1"] { --listindent: 1; --ultype: disc; --oltype: decimal;}
[indent="2"] { --listindent: 2; --ultype: circle; --oltype: lower-alpha;}
[indent="3"] { --listindent: 3; --ultype: square; --oltype: lower-roman;}
[indent="4"] { --listindent: 4; --ultype: disc; --oltype: decimal;}
[indent="5"] { --listindent: 5; --ultype: circle; --oltype: lower-alpha;}
[indent="6"] { --listindent: 6; --ultype: square; --oltype: lower-roman;}

[id^='content'] {
  width: calc(100% - var(--dragBtnWidth));
  /* height: 10%; */
  /* flex-grow: 1; */
  outline: none;
  border: none;
  line-height: 1.5em;
  /* margin-left: 30px; */
  padding-left: calc(30px * var(--indent));
  font-size: var(--font-size);
  cursor: text;
  user-select: true;
  display: inline-block;
}

/* [contentEditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color: gray;
}

[contentEditable=false]{
  cursor: default;
} */

[data-rbd-drag-handle-draggable-id^='content'] {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  outline: none;
  border: none;
}

.dragBtn {
  /* float: left; */
  width: var(--dragBtnWidth);
  color: lightgrey;
}

#dragBtn {
  width:  9px;
  height: 13px;
}

ul {
  width: calc(100% - var(--dragBtnWidth));
  margin: 0;
  padding: 0;
  list-style-type: var(--ultype);
  list-style-position: outside;
  padding-left: calc(30px * (var(--indent) + var(--listindent)));
  font-size: calc(var(--font-size) - 4pt);
}

ol {
  width: calc(100% - var(--dragBtnWidth));
  margin: 0;
  padding: 0;
  list-style-type: var(--oltype);
  list-style-position: outside;
  padding-left: calc(30px * (var(--indent) + var(--listindent)));
  font-size: calc(var(--font-size) - 4pt);
}

ul li div[id^="content"] {
  padding-left: 0;
  vertical-align:middle;
}

ol li div[id^="content"] {
  padding-left: 0;
}

.imgholder {
  width: fit-content;
  height: fit-content;
  /* max-width: 640px;
  max-height: 480px; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  display: block;
  cursor: default;
}

[id^='img_'] {
  width: auto;
  height: auto;
  max-width: 320px;
  max-height: 240px;
  margin: auto;
  display: block;
  cursor: default;
}

/* ul li span {
  font-size: var(--font-size)
} */


