html {

}

ol.contents_item {
    margin-top: 5px;
    margin-bottom: 5px;
    /* width: 100%; */
}

/* ol.index_list li::before {
    content: attr(value);
    font-size: 12pt;
} */

li[indent="1"] { --indent: 0; --oltype: decimal;}
li[indent="2"] { --indent: 1; --oltype: lower-alpha;}
li[indent="3"] { --indent: 2; --oltype: lower-roman;}

ol.contents_item li {
    list-style-type: var(--oltype);
    margin-left: calc(30px * var(--indent));
    line-height: 24px;
}

ol.contents_item li input {
    width: 100%;
    /* margin-left: 5px; */
    font-size: 12pt;
    background-color: inherit;
    outline: none;
    border: none;
}


