html,
* {
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; */

  /* font-size: 12pt; */
  /* resize: none;
  font-family: '나눔스퀘어'; */
}

.content {
  padding-bottom: 50px;
}

/* div[id^="contents"] {
  position: relative;  
} */

/* [type="title"] { --indent: 0; --font-size: 32pt; } */
div[id^="body"][type="h1"] { --indent: 0; --font-size: 24pt; }
div[id^="body"][type="h2"] { --indent: 1; --font-size: 20pt; }
div[id^="body"][type="h3"] { --indent: 2; --font-size: 16pt; }
div[id^="body"][type="p"]  { --indent: 3; --font-size: 12pt; }

[indent="1"] { --indent: 0; --ultype: disc; --oltype: decimal;}
[indent="2"] { --indent: 1; --ultype: circle; --oltype: lower-alpha;}
[indent="3"] { --indent: 2; --ultype: square; --oltype: lower-roman;}
[indent="4"] { --indent: 3; --ultype: disc; --oltype: decimal;}
[indent="5"] { --indent: 4; --ultype: circle; --oltype: lower-alpha;}
[indent="6"] { --indent: 5; --ultype: square; --oltype: lower-roman;}

div[id^='body'] {
  width: calc(100% - 30px);
  /* height: 10%; */
  outline: none;
  border: none;
  line-height: 1.5em;
  /* margin-left: 30px; */
  padding-left: calc(30px * var(--indent));
  font-size: var(--font-size);
  cursor: text;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color: gray;
}

[contentEditable=false]{
  cursor: default;
}

[data-rbd-drag-handle-draggable-id^='body'] {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  outline: none;
  border: none;
}

.dragBtn {
  float: left;
  width: 30px;
  color: lightgrey;
}

#dragBtn {
  width:  9px;
  height: 13px;
}

ul.list_item {
  margin: 0;
  padding: 0;
  list-style-type: var(--ultype);
  list-style-position: inside;
  margin-left: calc(30px * var(--indent));
  font-size: 12pt;
}

ol.list_item {
  margin: 0;
  padding: 0;
  list-style-type: var(--oltype);
  list-style-position: inside;
  margin-left: calc(30px * var(--indent));
  font-size: 12pt;
}


.imgholder {
  width: fit-content;
  height: fit-content;
  /* max-width: 640px;
  max-height: 480px; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[id^='img_'] {
  width: auto;
  height: auto;
  max-width: 320px;
  max-height: 240px;
  margin: auto;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ul li span {
  font-size: var(--font-size)
} */


