html,
* {
  /* -moz-box-sizing: border-box; */
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */

  /* font-size: 12pt; */
  /* font-family: '나눔스퀘어'; */
}

#document {
  position: absolute;
  left: 10%;
  width: 70%;
  height: 100%;
  background-color: white;
}

#title {
  margin: 5%;
}

div.content_block {
  margin: 5%;
  font-size: 24pt;
}