html {
  --card-width: 240px;
  --card-height: 300px;
  --card-border-radius: 24px;
  --preview-height: 140px;
  --card-margin: 35px;
}

.file_card {
  position: relative;
  min-width: var(--card-width);
  min-height: var(--card-height);
  margin-right: var(--card-margin);
  margin-bottom: var(--card-margin);
  border-radius: var(--card-border-radius);
  box-shadow: 5px 5px 20px 3px rgba(6, 12, 32, 0.1);
  background-color: #ffffff;

  .preview {
    width: 100%;
    height: var(--preview-height);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    background-color: #dadada;
  }

  .preview_default {
    width: 100%;
    height: var(--preview-height);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    background-color: #fafafa;
  }
  
  .file_title {
    position: absolute;
    top: 190px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    height: 20px;

    display: flex;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    span {
      margin-left: 10px;
      width: 150px;
      height: 20px;

      overflow: hidden;

      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 20px;
      letter-spacing: normal;
      color: #1f1f1f;
    }
  }

  .file_functions {
    position: absolute;
    bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      margin: 0;
      padding: 0;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
  }
}
