html, *{
  --navigationWidth: 200px;
  --informationWidth: 200px;
  --mainWidth: calc(100% - var(--navigationWidth) - var(--informationWidth));
  --minMainWidth: 720px;
}

@media (max-width: 1120px) {
  #home #navigation {
    display: none;
  }

  #home #information {
    display: none;
  }

  #home #main {
    width: 100% !important;
  }
}

#home {
  position: absolute;
  /* top: 10%; */
  width: 100%;
  height: 100%;
  display: flex;
  
}

#main {
  /* position: absolute; */
  left: 200px;
  width: var(--mainWidth);
  min-width: var(--minMainWidth);
  height: 100%;
}

