html,
* {
  /* -moz-box-sizing: border-box; */
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */

  /* font-size: 12pt; */
  /* font-family: '나눔스퀘어'; */
}

#home {
  position: absolute;
  /* top: 10%; */
  width: 100%;
  height: 100%;
}