html,
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: '나눔스퀘어';
}

.index {
    margin: 5%;
    padding: 1%;
    min-height: 10%;
    background-color: lightgrey;
}

[id^='idx_title'] {
    width: 100%;
    /* height: 14pt; */
    outline: none;
    border: none;
    font-size: 14pt;
    background-color: lightgrey;
}