html {

}

#information {
  /* position: absolute; */
  /* left: 80%; */
  width: var(--informationWidth);
  height: 100%;
  /* border-left: lightgrey 3px solid; */
  background-color: white;
  /* display: inline-block; */
}


