html {
  font-family: Spoqa Han Sans;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#landing {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#landing #logo {
  position: absolute;
  top: 17.1vh;
  left: 27.1vw;
  width: 147px;
  height: 38px;
  object-fit: contain;
}

#landing #character {
  position: absolute;
  top: 33vh;
  left: 27.1vw;
  width: 22.9vw;
  /* height: 578px; */
  object-fit: contain;
  background-color: transparent;
}

#intro {
  position: absolute;
  top: 24.5vh;
  left: 27.1vw;
  width: 329px;
}

#line_1 {
  position: absolute;
  height: 32px;
  
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: #1f1f1f;
}

#line_2 {
  position: absolute;
  margin-top: calc(1.3vh + 32px);
  height: 32px;

  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: #1f1f1f;
}

#line_3 {
  position: absolute;
  margin-top: calc(2.6vh + 64px);

  height: 56px;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 56px;
  letter-spacing: normal;
  color: #1f1f1f;
}