html {

}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 40%;
}

.login_btn {
  width: 222px;
  height: 49px;
  margin: auto;
}

#kakao_login_btn {
  padding: 2%;
  border: none;
  background: none;
  width: 100%;
}

#google_login_btn {
  padding: 2%;
  border: none;
  background: none;
  width: 100%;
}