html {

}

#login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 720px;
}

.login_btn {
  width: 222px;
  height: 49px;
}

#kakao_login_btn {
  margin: 10px;
  border: none;
  background: none;
  /* width: 100%; */
  background-color: #ffe812;
  color: black;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  font-weight: bold;
}

#google_login_btn {
  margin: 10px;
  border: none;
  background: none;
  /* width: 100%; */
  background-color: white;
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  font-weight: bold;
}