html {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
  font-family: Spoqa Han Sans;
}

#login {
  position: absolute;
  left: 50vw;
  
  width: 50vw;
  min-height: 920px;
  height: 100%;
  border-radius: 40px;
  box-shadow: -12px 0 11px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  z-index: 1;
}

#login #title {
  position: absolute;
  left: 5.65vw;
  top: 179px;
  width: 360px;
  height: 30px;

  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1f1f1f;
}

#to_registration {
  position: absolute;
  left: calc(5.65vw + 22.9vw - 121px);
  top: 186px;
  width: 121px;
  height: 16px;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: right;
  color: #29a3ef;
}

.login_form {
  margin-left: 5.65vw;
  margin-top: 20px;
  width: 22.9vw;
  height: 50px;
  border-radius: 25px;
  border: solid 1.2px #bababa;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form:focus-within {
  border: solid 1.2px #1f1f1f;
}

#login #email {
  margin-left: 5.65vw;
  margin-top: 257px;
}

.login_form input {
  width: 90.9%;
  height: 14px;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f1f1f;
  outline: none;
  border: none;
}

#login #terms {
  position: absolute;
  left: 5.65vw;
  top: 397px;
}

#terms span {
  width: 68px;
  height: 18px;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #1f1f1f;
}

#autologin {
  width: 56px;
  height: 18px;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #29a3ef;
}

#forgot {
  position: absolute;
  left: calc(22.9vw - 140px);

  width: 140px;
  height: 16px;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: right;
  color: #29a3ef;
}

#login #submit {
  position: absolute;
  left: 5.65vw;
  top: 447px;
  width: 22.9vw;
  height: 50px;
  border-radius: 25px;
  background-color: #51a2e9;
  outline: none;
  border: none;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#login #others {
  position: absolute;
  left: 5.65vw;
  top: 518px;
  width: 22.9vw;
  outline: none;
  border-top: solid 1px #bababa;
  padding-top: 20px;
}

#login #others button {
  margin-bottom: 14px;
  width: 22.9vw;
  height: 50px;
  border-radius: 25px;
  background-color: #0084d2;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#login #others button div img {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

#login #others button div span {
  margin-left: 13px;
  height: 20px;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  color: #ffffff;
}

#login #rights {
  position: absolute;
  left: 5.65vw;
  top: 896px;
  width: 22.9vw;
  height: 20px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888888;
}