#main {
  position: absolute;
  left: var(--navigation-width);

  width: calc(100% - var(--navigation-width) - var(--information-width));
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: -12px 0 11px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;

  #main_header {
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #e3e3e3;

    #main_title {
      position: absolute;
      left: 66px;
      top: 51px;
      width: 271px;
      height: 30px;

      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 30px;
      letter-spacing: normal;
      color: #1f1f1f;
    }
  }

  #main_body {
    position: absolute;
    top: 110px;
    width: 100%;
    height: calc(100% - 108px);

    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
