#main {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#main::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

#main #header {
  width: 1200px;
  height: 108px;
}

#main #header #title {
  position: absolute;
  margin-left: 66px;
  margin-top: 51px;
  width: 271px;
  height: 30px;
  font-family: Spoqa Han Sans;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f1f1f;
}