html {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
  font-family: Spoqa Han Sans;
}

#navigation {
  width: 352px;
  height: 100%;
}

#navigation button {
  cursor: pointer;
}

#navigation #logo {
  position: absolute;
  top: 45px;
  left: 67px;
  width: 147px;
  height: 38px;
}

#navigation button {
  width: 280px;
  height: 60px;
  background-color: #fafafa;
  padding: 0;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

#navigation .hoverEffect1 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 60px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

#navigation .onHover1:hover .hoverEffect1 {
  background-color: #ededed;
}

#navigation .hoverEffect2 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 190px !important;
  height: 60px !important;
}

#navigation .onHover2:hover .hoverEffect2 {
  background-color: #ededed;
}

#navigation button img {
  /* margin-top: 15px; */
  margin-left: 41px;

  width: 30px;
  height: 30px;
  object-fit: contain;
  z-index: 1;
}

#navigation button span {
  /* margin-top: 20px; */
  margin-left: 12px;
  width: 140px;
  height: 20px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f1f1f;
  text-align: start;
  z-index: 1;
}

#navigation button .arrow {
  margin-left: 3px;
  width: 15px;
  height: 15px;
  object-fit: contain;
}

#navigation #create {
  margin-top: 143px;
  margin-left: 40px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#navigation #create img {
  /* margin-top: 10px; */
  margin-left: 27px;
}

#navigation #create span {
  /* margin-top: 17px; */
  margin-left: 9px;

  width: 106px;
  height: 16px;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
}

#navigation #newFolder {
  margin-top: 34px;
}

#navigation #uploadLocalFile {
  margin-top: 32px;
}

#navigation hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 280px;
  border: 1px solid #e5e5e5;
}

#navigation [id$=Types] {
  position: absolute;
  left: 280px;
  align-self: flex-start;
  z-index: 2;
}

#navigation [id$=Types] button {
  width: 190px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(6, 12, 32, 0.1);
  background-color: #ffffff;
}

#navigation [id$=Types] button span {
  width: 190px;
  height: 60px;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
}
