#search {
  position: absolute;
  right: 505px;
  top: 38px;
  width: 360px;
  height: 50px;
  border-radius: 25px;
  border: solid 1.2px #bababa;

  display: flex;
}

#search img {
  margin-left: 23px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

#search input {
  margin-left: 6px;
  margin-top: 18px;
  width: 270px;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: normal;
  color: #888888;

  border: none;
  outline: none;
}